/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }
/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font-size: 13px; font-family: 'Ubuntu', sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #008F94; text-decoration:none;}
a:hover {color: #068787;text-decoration:none;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

body {
  min-width: 882px;
  background-color: transparent;
  background-image: url('../images/hexes.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}
h1{font-size:34px; font-weight: lighter; margin-top: 0.5em;}
h2{font-size:1em;}
h3{font-size: 20px; font-weight: normal; margin-bottom: .5em;}
h4{font-size:18px; color: #008F94; font-weight: normal; margin-bottom: 1em;}
h5{font-size: 18px; font-weight: normal; margin-bottom: .5em;}
h6{font-size:1em;}


/* Containers
----------------------------------------------------------------------------------------------------*/
.wrapper{
        -moz-box-shadow: 0 1px 4px #BBBBBB;
        box-shadow: 0 1px 4px #BBBBBB;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
        padding: 0 8px;
	background: #dedede;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.columns{
}
.column{
  display:inline;
	float: left;
	position: relative;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 1em;
	width:  100%;
}
.column.test{
  height: 50px !important;
  background: #aaa;
}
.two.columns .column{
	width: 423px;
}
.three.columns .column{
	width: 304px;
}
.four.columns .column{
	width: 202px;
}
.four.columns .column:last-of-type{
	width: 204px;
}
.five.columns .column{
	width: 158px;
}
.five.columns .column:last-of-type{
	width: 160px;
}
.six.columns .column{
	width: 129px;
}

.three.columns .column.span-2{
  width: 624px;
}

.left{
  float:left;
}
.right{
  float:right;
}
.rounded{
  border-radius: 10px; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  border: 0px solid #800000;
  background: #fff;
}
.rounded img{
  border-radius: 5px 5px 0px 0px; 
  -moz-border-radius: 5px 5px 0px 0px; 
  -webkit-border-radius: 5px 5px 0px 0px; 
  border: 0px solid #800000;
}
.rounded .content {
  padding: 20px 20px 0px 20px;
  min-height: 134px;
}

.rounded .content p {
    line-height: 1.4;
}

section#main .rounded {
    min-height: 380px;
    padding-top: 165px;
    background-repeat: no-repeat;
}

#whats-new {
    background-image: url('../images/box1.jpg');
}

#how-to-get-started {
    background-image: url('../images/box3.jpg');
}

#who-uses-schooltool {
    background-image: url('../images/box2.jpg');
}
section#main .column .content {
    padding-top: 20px;
    padding-bottom: 10px;
}

section#main .column .content p {
    line-height: 1.4;
    margin-bottom: 0.5em;
}

section#main .column a.learn {
  position: absolute;
  top: 538px;
  right: 20px;
}

section#main .column .rounded {
  -webkit-box-shadow: 8px 5px 5px -5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 8px 5px 5px -5px rgba(0, 0, 0, .5);
  box-shadow: 8px 5px 5px -5px rgba(0, 0, 0, .5);
}

#slider {
  -webkit-box-shadow: 8px 5px 5px -5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 8px 5px 5px -5px rgba(0, 0, 0, .5);
  box-shadow: 8px 5px 5px -5px rgba(0, 0, 0, .5);
}

nav.main{
  height: 64px;
}

.three .column .rounded {
  -webkit-box-shadow: 8px 5px 5px -5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 8px 5px 5px -5px rgba(0, 0, 0, .5);
  box-shadow: 8px 5px 5px -5px rgba(0, 0, 0, .5);
}

/* Main navigation */
nav.main ol{
  background: none;
  list-style: none; 
  margin-left: 16px;
}
nav.main ol li{ 
  background: none;
  float:left;
  padding: 0 1px;
}
nav.main ol li.last{ 
}
nav.main ol li a{
  background: none;
  display: block;
  color: #fff;
  padding: 24px 8px;
  font-size: 14px;
  line-height: 16px;
}
nav.main ol li a:hover{ 
  background: #026B6E;
}
section#main {
  padding-bottom: 50px;
}

header{
    position: relative;
  margin-left: auto;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
	margin-right: auto;
        -moz-box-shadow: 0 1px 6px #BBBBBB;
        box-shadow: 0 1px 6px #BBBBBB;
	width: 976px;
        background: #008C93;
}

header .logo {
    position: absolute;
    right: 16px;
    top: 12px;
    z-index: 1;
    font-size: 36px;
    line-height: 40px;
}

header .logo img {
    vertical-align: top;
    border: none;
}

header .logo .school {
    color: #DBE2DE;
}

header .logo .tool {
    color: #ffffff;
}

footer{
	margin-left: auto;
	margin-right: auto;
	width: 958px;
	padding: 9px;
	font-size: 90%;
}
footer img.right { margin-right: 9px;}
footer .column {
       margin-bottom: 0;
}

/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}
#search-box{
  background: none repeat scroll 0 0 #C5CAD1;
  height: 25px !important;
  border-radius: 0 0 4px 4px; 
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  margin: 0 9px 0 0;
  padding-top: 7px;
  width: 175px;
  float: right;
}

#edit-keys{
  float: left;
  margin: 0 8px 0 !important;
  width: 130px !important;
  border: 1px solid #CCCCCC;
  font-size: 11px;
  height: 14px !important;
  padding: 2px
}
.form-submit{
  margin: 1px 0 0;
  background: url('images/arrow.png');
  vertical-align: top;
  margin-top: -2px; 
  margin-left: -3px; 
}
input, select {
    vertical-align: middle;
}

.nivoSlider {
    position:relative;
    width:624px; /* Change this to your images width */
    height:253px; /* Change this to your images height */
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}
strong.title{
  font-size: 22px;
  font-weight: lighter;
}

ul.uses {
  list-style: disc; 
  margin-left: 16px;
}

ul.uses li {
    line-height: 1.4;
    margin-bottom: 0.5em;
}